backup
plots
.idea
.cache
.vscode
docs/build
docs/build/doctrees/
docs/make.bat
docs/source/conf_old.py
*.zip
*.py~
*.pyc
*.swp
.gitignore~
.spyderworkspace
*.lprof
*.lprof~
.ipynb_checkpoints
.ipynb_checkpoints/*
