backup
plots
.idea
.cache
.vscode
docs/*
docs/source/*
!docs/source/conf.py
!docs/Makefile
*.zip
*.py~
*.pyc
*.swp
.gitignore~
.spyderworkspace
*.lprof
*.lprof~
.ipynb_checkpoints
.ipynb_checkpoints/*
